*{
    
    background-color: #212121;
}

form{
    width: 50%;
    position: relative;
    margin-left: 25%;
}

h1{
    text-align: center;
}

form input{
    margin-top: 20px;
}

.btns{
    border: 2px solid black;
    margin-top: 40px;
    
    

}
.btns:hover{
    background-color: white;
    color: black
}

.btnss{
    display: flex;
}